<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-menu-button ></ion-menu-button>
      </ion-buttons>
      <ion-title >Term & Conditions</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu viverra libero. Suspendisse mollis, lectus congue egestas semper, nibh mi semper est, ut aliquam ipsum neque egestas justo. Etiam bibendum, felis nec fringilla cursus, tortor odio luctus nisl, id mollis neque neque ac risus. Sed suscipit dolor sit amet arcu vestibulum, feugiat molestie tellus pulvinar. Donec eget purus eu nisi facilisis iaculis in at lacus. Nam vel pulvinar lorem. Suspendisse lobortis vulputate tristique. Quisque mi elit, pretium non nibh malesuada, blandit aliquam neque. Duis eget nibh eros. Phasellus accumsan neque in ipsum interdum congue.</p>
  
  <p>Proin lobortis posuere felis quis accumsan. Nullam hendrerit vitae sapien eu scelerisque. Morbi sit amet mi metus. Aenean ex nulla, ullamcorper congue neque dignissim, feugiat ornare est. Vestibulum ultrices, orci id euismod elementum, tellus tortor fermentum mi, in luctus leo nibh cursus ipsum. Maecenas accumsan blandit dignissim. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tincidunt luctus interdum. Morbi vestibulum, ipsum blandit ultricies porttitor, magna ipsum bibendum lectus, id pellentesque neque mauris eu mauris.</p>

</ion-content>
