<ion-split-pane>
   <ion-menu type="overlay" contentId="content">
        <ion-header>
            <ion-toolbar>
                    <ion-img  src="../assets/images/Linguini-2.png" ></ion-img>
            </ion-toolbar>
        </ion-header>

        <ion-content class="menuContent">
            <ion-list lines="none"  >
                  <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">

                        

                        <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
                             <fa-icon icon="{{p.icon}}" ></fa-icon>
                            <ion-label>
                                    {{p.title}}
                            </ion-label>
                        </ion-item>
                  </ion-menu-toggle>

                  <!-- <ion-item tappable routerLink="/login" routerDirection="root">
                        <fa-icon [icon]="['fas', 'sign-out-alt']" ></fa-icon>
                        <ion-label> Logout </ion-label>
                  </ion-item> -->

            </ion-list>
        </ion-content>
   </ion-menu>

   <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>