<ion-header>
    <ion-toolbar>
        <ion-buttons  slot="start">
                <ion-back-button  text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title  >Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
        <ion-list>
        <ion-item>
            <ion-label position="floating" color="medium">Old Password</ion-label>
            <ion-input name="user_old_pwd" type="password" spellcheck="false" autocapitalize="off" required>
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="medium">New Passwod</ion-label>
            <ion-input name="user_new_pwd" type="password" spellcheck="false" autocapitalize="off" required>
            </ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label position="floating" color="medium">Confirm Passwod</ion-label>
            <ion-input name="user_confirm_pwd" type="password" required>
            </ion-input>
        </ion-item>
        </ion-list>
             <ion-button class="mt-20"    expand="block" >
            <ion-ripple-effect></ion-ripple-effect> UPDATE
           </ion-button>
</ion-content>