
#header_oval {
    width: 110%;
    height: 40%;
    background:var(--ion-color-secondary);
    border-radius: 100% / 90%;
    position: fixed;
    left: -20px;
    top: -75px;
    z-index: 1;
    }

ion-header{
    ion-toolbar{
        --border-width: 0;
    }
}

ion-content{
    .content-box{
        position: relative;
        z-index: 99;
    }


    //-------------------
    //--background:#fbf7f6;
    --background:transparent;
    // background-image: url(/assets/images/header_bg.png);
    // --background: transparent;
    // background-size: 125%;
    // background-position: 50% -250%;
    // background-repeat: no-repeat;

    //-------------------------    
}

