<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title >Feedback</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a consectetur odio, at rutrum lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat placerat semper. Sed eu sodales mi. Suspendisse varius elit in sodales iaculis. Nulla placerat est eget libero porta egestas. Nunc blandit lacinia sem, quis faucibus erat malesuada a. In ac vestibulum mi, sed dictum eros. Nulla tincidunt pulvinar mi non malesuada. Donec maximus quam id lobortis luctus.</p>
        <div>
          <ion-button expand="block" class="mt-20 mb-20"  fill="outline">Call Us</ion-button>
          <ion-button expand="block"  fill="outline">Email US</ion-button>
        </div>
</ion-content>