<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-menu-button class="menu-btn"></ion-menu-button>
        </ion-buttons>
        <ion-title >Pedidos</ion-title>
    </ion-toolbar>
   
</ion-header>

<ion-content >
        <ion-card >
                <ion-card-header style="font-weight: bold;">
                        <strong><h3>En construcción</h3></strong>
                                
                </ion-card-header>
        
                <ion-card-content>
                       <b style="font-size: 25px;"> Podrás realizar pedidos y venir a recogerlos a Linguini!</b><br><br>
                       <p style="text-align: justify; font-size: 20px;"> Se esta desarrollando un sistema de pedidos para que el restaurante comience la preparación de tu pedido antes de que llegues,
                        así podrás disfrutarlo en local o llevarlo a la comodidad de tu casa :) 
                    </p>
                </ion-card-content>
            </ion-card>
</ion-content>