<ion-header mode="ios">
  <img src="/assets/images/login-header2.jpg" />
  <!--<ion-fab vertical="top"  horizontal="end" slot="fixed" routerLink="/menu/dashboard" >
     <ion-fab-button class="skip-btn"> Skip</ion-fab-button>
 </ion-fab>-->
</ion-header>

<ion-content padding scrollY="true" >

      <ion-list>
      <ion-item>
        <ion-label position="floating" color="primary" style="font-size: 22px;">Garzón</ion-label>
       <!-- <ion-input name="user_name" type="text" spellcheck="false" autocapitalize="off" required> </ion-input>-->
          <ion-select style="font-size: 24px;" [(ngModel)]="selectedEmpleado"  >
              <ion-select-option  *ngFor="let empleado of empleados" [value]='empleado.idEmpleado'>{{empleado.nombreEmpleado}}</ion-select-option>
            
            </ion-select>
        
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary" style="font-size: 22px;">Mesas</ion-label>
       <!-- <ion-input name="user_password" type="password" required>
        </ion-input>-->
        <ion-select style="font-size: 24px; width: 100% !important;" [(ngModel)]="selectedMesa" >
            <ion-select-option  *ngFor="let mesa of mesas" [value]='mesa.idMesa'>{{mesa.idMesa}} Cantidad Personas: {{mesa.cantidadPersonas}} </ion-select-option>

          </ion-select>
      </ion-item>
      </ion-list>

    <ion-button shape="round"  expand="block" style="font-size: 25px;" (click)="registrarMesa()">Registrar Mesa</ion-button>

    <!--<ion-button margin fill="clear" size="small"  expand="full" routerLink="/auth-register">
       <span>Don't have account?</span> REGISTER HERE
    </ion-button>
 -->
    <ion-item lines="none" class="shadow-img">
       <!--- <ion-button slot="start" fill="clear" size="small"  expand="full" color="dark" routerLink="/auth-forgot-password">
          <ion-ripple-effect></ion-ripple-effect> Forgot Password?
        </ion-button>-->
     
        <ion-button slot="end" fill="clear" size="small"  expand="full" class="facebook" >
          <fa-icon [icon]="['fab', 'facebook']" size="3x"></fa-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" size="small"  expand="full" class="google-plus" >
          <fa-icon [icon]="['fab', 'instagram']" size="3x"></fa-icon>
        </ion-button>
    </ion-item>


</ion-content>

<ion-footer><img src="/assets/images/login-footer.jpg" /></ion-footer>